body {
    box-sizing: border-box;
}

.boxes {
    width: auto;
    height: 19em;
    border: 1px solid gray;
    background: #F2F2F2;
}

.chuck-box {
    width: auto;
    height: 22em;
    border: 1px solid gray;
    background-color: rgba(238, 238, 238, 0.60) !important; /* Opacity */
    background-blend-mode: color; /* Opacity */
    background-image: url("../img/chuck-norris2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.program-box {
    width: auto;
    height: 22em;
    border: 1px solid gray;
    background-color: rgba(238, 238, 238, 0.81) !important; /* Opacity */
    background-blend-mode: color; /* Opacity */
    background-image: url("../img/programmer.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.flexbox {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-flow: column;
    padding: 0em 6em;
}

#intro {
    min-height: 65vh;
    display: flex; /* NEW */
}

.container-fluid {
    height: 100%;
    min-height: 100%;
}

.jumbotron {
    background-color: lightgrey;
    color: brown;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}